* {
    background-image: none;
    box-shadow: none;
    font-family: "JetBrainsMono Nerd Font", sans-serif;
}

window {
    background-color: rgba(17, 17, 27, 0.95);
}

button {
    color: #FFA066;
    background-color: #1e1e2e;
    border-radius: 24px;
    border: 3px solid #313244;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: #2a2a3c;
    border-color: #FFA066;
    box-shadow: 0 0 15px 3px rgba(255, 160, 102, 0.2);
    outline-style: none;
    background-size: 30%;
}

#lock {
    background-image: image(url("icons/lock.svg"));
}

#logout {
    background-image: image(url("icons/logout.svg"));
}

#suspend {
    background-image: image(url("icons/suspend.svg"));
}

#hibernate {
    background-image: image(url("icons/hibernate.svg"));
}

#shutdown {
    background-image: image(url("icons/shutdown.svg"));
}

#reboot {
    background-image: image(url("icons/reboot.svg"));
}
